ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;




}



li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #F00;
}

body {
    background-image: url('https://cdn.pixabay.com/photo/2018/01/04/19/43/love-3061483_960_720.jpg');
    background-size: cover;
}

#me h1 {
    text-align: center;
    font-family: monospace;
    padding: 20px 40px 20px 40px;
    margin: 20px 40px 20px 40px;

}


h2 {
    text-align: center;
    font-family: monospace;
    padding: 20px 40px 20px 40px;
    margin: 20px 40px 20px 40px;

}

#final {
    text-align: center;
}

#we {
    float: left;
}